<h1 align="right" style="color:Black"> Рынок заведений общественного питания Москвы

# Описание проекта

Вы решили открыть небольшое кафе в Москве. Оно оригинальное — гостей должны обслуживать роботы. Проект многообещающий, но дорогой. Вместе с партнёрами вы решились обратиться к инвесторам. Их интересует текущее положение дел на рынке — сможете ли вы снискать популярность на долгое время, когда все зеваки насмотрятся на роботов-официантов?
Вы — гуру аналитики, и партнёры просят вас подготовить исследование рынка. У вас есть открытые данные о заведениях общественного питания в Москве.

# Подключение библиотек

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.display.max_colwidth = 150
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import scipy.stats as stats
import seaborn as sns

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>")) #делаем блокнот широкоформатным

## Загрузка и подготовка данных к анализу

Загрузим данные о ресторанах и выведем на экран первые строчки таблицы и краткую информацию о столбцах

In [2]:
rest_data = pd.read_csv('/datasets/rest_data.csv')
rest_data.head()

,id,object_name,chain,object_type,address,number
0,151635,СМЕТАНА,нет,кафе,"город Москва, улица Егора Абакумова, дом 9",48
1,77874,Родник,нет,кафе,"город Москва, улица Талалихина, дом 2/1, корпус 1",35
2,24309,Кафе «Академия»,нет,кафе,"город Москва, Абельмановская улица, дом 6",95
3,21894,ПИЦЦЕТОРИЯ,да,кафе,"город Москва, Абрамцевская улица, дом 1",40
4,119365,Кафе «Вишневая метель»,нет,кафе,"город Москва, Абрамцевская улица, дом 9, корпус 1",50

In [3]:
rest_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15366 entries, 0 to 15365
Data columns (total 6 columns):
id             15366 non-null int64
object_name    15366 non-null object
chain          15366 non-null object
object_type    15366 non-null object
address        15366 non-null object
number         15366 non-null int64
dtypes: int64(2), object(4)
memory usage: 720.4+ KB

Таблица отображается корректно. Типы данных во всех столбцах соответствуют содержимому. Пропуски также не обнаружены (во всех столбцах одинаковое количество не нулевых значений)
<br><br>Проверим на дубликаты:

In [4]:
rest_data.duplicated().sum()

0

Дублирующихся строчек также нет
<br><br>Посмотрим на количество заведений в разрезе их принадлежности к сети, к типу заведения

In [5]:
rest_data['chain'].value_counts()

нет    12398
да      2968
Name: chain, dtype: int64

In [6]:
rest_data['object_type'].value_counts()

кафе                                 6099
столовая                             2587
ресторан                             2285
предприятие быстрого обслуживания    1923
бар                                   856
буфет                                 585
кафетерий                             398
закусочная                            360
магазин (отдел кулинарии)             273
Name: object_type, dtype: int64

Как мы видим, несетевых объектов больше. По типу преобладает кафе

**Вывод**: данные загружены, типы данных корректные, дубликатов нет. Рассмотрены распределения по типу заведения и принадлежности к сети: типичный портрет - несетевое кафе.

## Анализ данных

Исследуем соотношение видов объектов общественного питания по количеству

In [ ]:
fig = px.histogram(
    rest_data,
    x='object_type',
    title = 'Относительное изменение среднего чека группы B к группе A'
)
fig.show()

## Презентация проекта

Презентация: <ссылка на облачное хранилище с презентацией>