**–ò–≤–∞–Ω, –ø—Ä–∏–≤–µ—Ç!**

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ö–∞—Ä–≥–∏–Ω, —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å –ø—Ä–æ–µ–∫—Ç –ø–æ **SQL** –≤ —Ä–∞–º–∫–∞—Ö —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞. –ü—Ä–∏—è—Ç–Ω–æ –ø–æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è! –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ï—Å–ª–∏ —ç—Ç–æ –Ω–µ–ø—Ä–∏–µ–º–ª–µ–º–æ, –±—É–¥–µ—Ç –∑–¥–æ—Ä–æ–≤–æ, –µ—Å–ª–∏ —è –æ–± —ç—Ç–æ–º —É–∑–Ω–∞—é, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ ¬´–≤—ã¬ª. –î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —è –æ—Å—Ç–∞–≤–ª—é –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –≤ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö —è—á–µ–π–∫–∞—Ö Markdown —Å –∑–∞–≥–æ–ª–æ–≤–∫–æ–º ¬´–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞¬ª. –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –∏—Ö - —Ç–∞–∫ –Ω–∞—à–µ –æ–±—â–µ–Ω–∏–µ –±—É–¥–µ—Ç –±–æ–ª–µ–µ –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω—ã–º. –Ø –±—É–¥—É –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ü–≤–µ—Ç–æ–≤—É—é —Ä–∞–∑–º–µ—Ç–∫—É:

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
‚úç –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã —Å–∞–º—ã–µ –≤–∞–∂–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –ë–µ–∑ –∏—Ö –æ—Ç—Ä–∞–±–æ—Ç–∫–∏ –ø—Ä–æ–µ–∫—Ç –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç.
</div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üìù –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –Ω–µ–±–æ–ª—å—à–∏–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏–ª–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏. –ü–æ—Å—Ç–∞—Ä–∞–π—Å—è —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –≤ —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ.
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –≤–∫–ª—é—á–∞—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏, –ø–æ–∑–∏—Ç–∏–≤–Ω—ã–µ –º–æ–º–µ–Ω—Ç—ã –∏–ª–∏ –∫–∞–∫–∏–µ-—Ç–æ —Ä–∞—Å—Å—É–∂–¥–µ–Ω–∏—è.
</div>

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –∏–ª–∏ –æ—Ç–≤–µ—á–∞–µ—à—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º. –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:

<div class="alert alert-info"> 
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞</b> 
    
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.
</div>

---

<div class="alert alert-success">
<b>–û–±—Ä–∞—Ç–Ω–∞—è —Å–≤—è–∑—å v.1</b> 
    
üëã –ò–≤–∞–Ω, —Å–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø—Ä–∏—Å–ª–∞–ª –ø—Ä–æ–µ–∫—Ç! –¢—ã —Ö–æ—Ä–æ—à–æ –ø—Ä–∏–¥–µ—Ä–∂–∏–≤–∞–µ—à—å—Å—è –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏—è –ø—Ä–æ–µ–∫—Ç–∞, —Ç–≤–æ–∏ –∑–∞–ø—Ä–æ—Å—ã –ª–µ–≥–∫–æ —á–∏—Ç–∞—Ç—å, –∏ –æ–Ω–∏ —Ç–∞–∫–∂–µ —Ö–æ—Ä–æ—à–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω—ã. –ú—ã –º–æ–∂–µ–º —Ç–∞–∫–∂–µ –¥–æ–±–∞–≤–ª—è—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–∞–º - —Ç–∞–∫ –ø—Ä–æ—â–µ –≤–æ–∑–≤—Ä–∞—â–∞—Ç—å—Å—è –∫ —Å–≤–æ–∏–º –∑–∞–ø—Ä–æ—Å–∞–º –∏ –ø—Ä–æ–µ–∫—Ç–∞–º —á–µ—Ä–µ–∑ –Ω–µ–∫–æ—Ç–æ—Ä–æ–µ –≤—Ä–µ–º—è.
    
<br>
<div class="text-danger">   
    
‚úç –û–¥–Ω–∞–∫–æ –ø—Ä–æ–µ–∫—Ç –ø–æ–∫–∞ –Ω–µ–ª—å–∑—è –ø—Ä–∏–Ω—è—Ç—å, —Ç–∞–∫ –∫–∞–∫ –µ—Å—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ –º–æ–º–µ–Ω—Ç–æ–≤ –≤–æ –≤—Ç–æ—Ä–æ–º –∑–∞–ø—Ä–æ—Å–µ, –∫–æ—Ç–æ—Ä—ã–µ –Ω—É–∂–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å - –≤–æ–∑–º–æ–∂–Ω–æ —Å–µ–π—á–∞—Å –º—ã –¥—É–±–ª–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ–±–∑–æ—Ä–æ–≤ –∏ –º—ã –≤—ã–≤–æ–¥–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –Ω–µ –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥ (–µ—Å–ª–∏ –±—Ä–∞—Ç—å –ø–æ id).

    
    
</div>    

    
–ü–æ—Å–º–æ—Ç—Ä–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –º–æ–∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ - —Ç–∞–º –±–æ–ª—å—à–µ –¥–µ—Ç–∞–ª–µ–π, –ø–ª—é—Å –µ—Å—Ç—å –∏–Ω—ã–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏. –ú–Ω–µ –∫–∞–∂–µ—Ç—Å—è, —á—Ç–æ –Ω–µ—Å–º–æ—Ç—Ä—è –Ω–∞ –≤—Å–µ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —É —Ç–µ–±—è –Ω–µ —Å–æ—Å—Ç–∞–≤–∏—Ç —Ç—Ä—É–¥–∞ –≤–Ω–µ—Å—Ç–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è. –ë—É–¥—É –∂–¥–∞—Ç—å –Ω–æ–≤–æ–π –≤–µ—Ä—Å–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞!

<br>    
–° –Ω–∞–∏–ª—É—á—à–∏–º–∏ –ø–æ–∂–µ–ª–∞–Ω–∏—è–º–∏, <br>
–ê–ª–µ–∫—Å–µ–π
</div>


---

<div class="alert alert-success">
<b>–û–±—Ä–∞—Ç–Ω–∞—è —Å–≤—è–∑—å v.2</b> 
    
üëã –ò–≤–∞–Ω, —Å–ø–∞—Å–∏–±–æ, —Å–ø–∞—Å–∏–±–æ, —á—Ç–æ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–æ –≤–Ω–µ—Å –∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∫—É –≤ –∑–∞–ø—Ä–æ—Å—ã - –≤ —Ü–µ–ª–æ–º, —Ç–µ–ø–µ—Ä—å –≤—Å–µ –≤–µ—Ä–Ω–æ –∏ –ø—Ä–æ–µ–∫—Ç –º–æ–∂–µ—Ç –±—ã—Ç—å –ø—Ä–∏–Ω—è—Ç. –û–¥–Ω–∞–∫–æ, —É —Ç–µ–±—è –±—ã–ª–∏ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –≤–æ–ø—Ä–æ—Å—ã, –ø–æ —Ö–æ–¥—É –ø—Ä–æ–µ–∫—Ç–∞, –ø–æ—Å–º–æ—Ç—Ä–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ - –µ—Å–ª–∏ —É —Ç–µ–±—è –±–æ–ª—å—à–µ –Ω–µ—Ç –≤–æ–ø—Ä–æ—Å–æ–≤, —Ç–æ –¥–∞–π –∑–Ω–∞—Ç—å, —á—Ç–æ–±—ã —è –ø—Ä–∏–Ω—è–ª –ø—Ä–æ–µ–∫—Ç.
    
<br>    
–° –Ω–∞–∏–ª—É—á—à–∏–º–∏ –ø–æ–∂–µ–ª–∞–Ω–∏—è–º–∏, <br>
–ê–ª–µ–∫—Å–µ–π
</div>

---

<div class="alert alert-success">
<b>–û–±—Ä–∞—Ç–Ω–∞—è —Å–≤—è–∑—å v.3</b> 
    
üéâ –ò–≤–∞–Ω, —Ç–µ–ø–µ—Ä—å, –∫–æ–≥–¥–∞ –≤–æ–ø—Ä–æ—Å–æ–≤ –Ω–µ—Ç, –º–æ–≥—É —Ç–æ–ª—å–∫–æ –ø–æ–∑–¥—Ä–∞–≤–∏—Ç—å —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ –∏ –≤—Å–µ–≥–æ –æ–±—É—á–µ–Ω–∏—è –Ω–∞ –∫—É—Ä—Å–µ –Ø–Ω–¥–µ–∫—Å –ü—Ä–∞–∫—Ç–∏–∫—É–º–∞! –°–ø–∞—Å–∏–±–æ –∑–∞ —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - —É —Ç–µ–±—è –æ—Ç–ª–∏—á–Ω–∞—è –º–æ—Ç–∏–≤–∞—Ü–∏—è –∏–∑—É—á–∞—Ç—å –Ω–æ–≤–æ–µ –∏ —Å–æ–≤–µ—Ä—à–µ–Ω—Å—Ç–≤–æ–≤–∞—Ç—å —Å–≤–æ–∏ –Ω–∞–≤—ã–∫–∏!
    
    
<br>    
–° –Ω–∞–∏–ª—É—á—à–∏–º–∏ –ø–æ–∂–µ–ª–∞–Ω–∏—è–º–∏, <br>
–ê–ª–µ–∫—Å–µ–π
</div>

---

# –ü–µ—Ä–≤–∏—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ —Ä—ã–Ω–∫–∞ –∫–Ω–∏–≥

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

![https://s3-us-west-2.amazonaws.com/secure.notion-static.com/069818d1-0e5c-4d87-a461-0de584ab9c33/Untitled_(33).png](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/069818d1-0e5c-4d87-a461-0de584ab9c33/Untitled_(33).png)

### –ó–∞–¥–∞–Ω–∏—è

- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç –•–æ—Ä–æ—à–æ, —á—Ç–æ –µ—Å—Ç—å –∫—Ä–∞—Ç–∫–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞ –∏ –∏—Å—Ö–æ–¥–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü, –∞ —Ç–∞–∫–∂–µ –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω—ã —Ä–µ—à–∞–µ–º—ã–µ –∑–∞–¥–∞—á–∏.
</div>

## –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
#–∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

## –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
 'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
 'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
 'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
 'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b>
    
üëç –í—Å–µ –≥–æ—Ç–æ–≤–æ –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö! 

</div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üìù –õ—É—á—à–µ –æ—Ç–¥–µ–ª–∏—Ç—å –∏–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫ –æ—Ç –æ—Å—Ç–∞–ª—å–Ω–æ–≥–æ –∫–æ–¥–∞ –∏ –≤—ã–Ω–µ—Å—Ç–∏ –µ–≥–æ –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é —è—á–µ–π–∫—É. –≠—Ç–æ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —Å—Ç–∞–Ω–¥–∞—Ä—Ç—É –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏—è –∫–æ–¥–∞ [PEP8](https://www.python.org/dev/peps/pep-0008/#imports).
    
</div>

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v.1</b>
    
–í—ã–Ω–µ—Å

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç –°–ø–∞—Å–∏–±–æ!
</div>

## –í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–æ–≤

–î–ª—è –Ω–∞—á–∞–ª–∞ –∏–∑—É—á–∏–º –∫–∞–∂–¥—É—é –∏–∑ —Ç–∞–±–ª–∏—Ü

In [3]:
queryBooks = '''
SELECT
    *
FROM
    books
'''
print('–¢–∞–±–ª–∏—Ü–∞ BOOKS')
pd.io.sql.read_sql(queryBooks, con = engine).head()

–¢–∞–±–ª–∏—Ü–∞ BOOKS

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [4]:
queryAuthors = '''
SELECT
    *
FROM
    authors
'''
print('–¢–∞–±–ª–∏—Ü–∞ AUTHORS')
pd.io.sql.read_sql(queryAuthors, con = engine).head()

–¢–∞–±–ª–∏—Ü–∞ AUTHORS

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [5]:
queryRatings = '''
SELECT
    *
FROM
    ratings
'''
print('–¢–∞–±–ª–∏—Ü–∞ RATINGS')
pd.io.sql.read_sql(queryRatings, con = engine).head()

–¢–∞–±–ª–∏—Ü–∞ RATINGS

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [6]:
queryReviews = '''
SELECT
    *
FROM
    reviews
'''
print('–¢–∞–±–ª–∏—Ü–∞ REVIEWS')
pd.io.sql.read_sql(queryReviews, con = engine).head()

–¢–∞–±–ª–∏—Ü–∞ REVIEWS

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [7]:
queryPublishers = '''
SELECT
    *
FROM
    publishers
'''
print('–¢–∞–±–ª–∏—Ü–∞ PUBLISHERS')
pd.io.sql.read_sql(queryPublishers, con = engine).head()

–¢–∞–±–ª–∏—Ü–∞ PUBLISHERS

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–°–∞–º–∞—è –∏–Ω—Ç–µ—Ä–µ—Å–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ - *books* - –æ–Ω–∞ —Å–≤—è–∑—ã–≤–∞–µ—Ç –æ—Å—Ç–∞–≤—à–∏–µ—Å—è —á–µ—Ç—ã—Ä–µ —Ç–∞–±–ª–∏—Ü—ã –º–µ–∂–¥—É —Å–æ–±–æ–π. –° –Ω–µ–π –∏ –Ω–∞—á–Ω–µ–º —Ä–∞–±–æ—Ç—É

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b>
    
üëç –û—Ç–ª–∏—á–Ω–æ! –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ  –¥–∞–Ω–Ω—ã—Ö —Ä–∞–±–æ—Ç–∞–µ—Ç, —Ç–∞–±–ª–∏—Ü—ã –Ω–∞ –º–µ—Å—Ç–µ. –ù–∞ —ç–∫—Ä–∞–Ω –±—ã–ª–∏ –≤—ã–≤–µ–¥–µ–Ω—ã –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏–∑ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü—ã, —á—Ç–æ –ø–æ–∑–≤–æ–ª–∏–ª–æ –æ—Ü–µ–Ω–∏—Ç—å –∏—Ö —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ. –û–¥–Ω–∞–∫–æ, –æ–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤ –∑–∞–ø—Ä–æ—Å–µ –º—ã –∑–∞–≥—Ä—É–∂–∞–µ–º –≤—Å–µ –¥–∞–Ω–Ω—ã–µ, –ø–æ—ç—Ç–æ–º—É –ø–µ—Ä–µ–¥ –∏—Ö –≤—ã–≥—Ä—É–∑–∫–æ–π –ª—É—á—à–µ –æ—Ü–µ–Ω–∏—Ç—å –∏—Ö –æ–±—ä–µ–º. –ü–æ—á–µ–º—É —ç—Ç–æ –≤–∞–∂–Ω–æ - –µ—Å–ª–∏ –¥–∞–Ω–Ω—ã—Ö –º–Ω–æ–≥–æ, –∞ –∏—Ö –º–æ–∂–µ—Ç –±—ã—Ç—å –º–Ω–æ–≥–æ –∏ –æ–Ω–∏ –º–æ–≥—É—Ç –±—ã—Ç—å –æ–±—ä–µ–º–Ω—ã–º–∏, –º—ã –º–æ–∂–µ–º —Å–æ–∑–¥–∞—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –Ω–∞–≥—Ä—É–∑–∫—É –Ω–∞ –æ–∫—Ä—É–∂–µ–Ω–∏–µ, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –Ω–µ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ.
</div>

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v.1</b>
    
–ê –∫–∞–∫ –æ—Ü–µ–Ω–∏–≤–∞—Ç—å –æ–±—ä–µ–º? COUNT * ?

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç –î–∞, —ç—Ç–æ —Å–∞–º—ã–π –ø—Ä–æ—Å—Ç–æ–π —Å–ø–æ—Å–æ–±. 
</div>

### –°–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞?

–ù–∞–π–¥–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –±–æ–ª–µ–µ-–º–µ–Ω–µ–µ —Å–æ–≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –∫–Ω–∏–≥ (–≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1-–≥–æ —è–Ω–≤–∞—Ä—è 2000-–≥–æ –≥–æ–¥–∞)

In [8]:
query1 = '''
SELECT
    COUNT (book_id) as cnt
FROM
    books
WHERE
    publication_date > '2000-01-01'
'''
pd.io.sql.read_sql(query1, con = engine)

   cnt
0  819

In [9]:
query11 = '''
SELECT
    MAX(publication_date) as max_date
FROM
    books
'''
pd.io.sql.read_sql(query11, con = engine)

     max_date
0  2020-03-31

819 –∫–Ω–∏–≥ –∑–∞ 20 –ª–µ—Ç - –Ω–µ —Ç–∞–∫ —É–∂ –∏ –º–Ω–æ–≥–æ - –≤—Å–µ–≥–æ –ø–æ 40 –∫–Ω–∏–≥ –≤ –≥–æ–¥

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 1:</b> –¢—É—Ç –≤—Å–µ –≤–µ—Ä–Ω–æ! 
</div>

### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏?

–¢–µ–ø–µ—Ä—å —É–∑–Ω–∞–µ–º –ª–∏–¥–µ—Ä–æ–≤ —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ –ø–æ —á–∏—Å–ª—É –æ–±–∑–æ—Ä–æ–≤ –∏ –Ω–∞–π–¥–µ–º –¥–ª—è –Ω–∏—Ö —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [19]:
query2 = '''
SELECT
    title,
    ROUND(AVG(rating), 2) as avg_rating,
    COUNT(DISTINCT review_id) as cnt_reviews
FROM
    books
    LEFT JOIN ratings ON books.book_id = ratings.book_id
    LEFT JOIN reviews ON books.book_id = reviews.book_id
GROUP BY
    books.book_id
ORDER BY
    cnt_reviews DESC
'''
pd.io.sql.read_sql(query2, con = engine).head(10)

                                               title  avg_rating  cnt_reviews
0                            Twilight (Twilight  #1)        3.66            7
1                                Water for Elephants        3.98            6
2                                   The Glass Castle        4.21            6
3  Harry Potter and the Prisoner of Azkaban (Harr...        4.41            6
4  The Curious Incident of the Dog in the Night-Time        4.08            6
5             The Da Vinci Code (Robert Langdon  #2)        3.83            6
6                                      The Alchemist        3.79            6
7                The Hobbit  or There and Back Again        4.13            6
8                                     The Book Thief        4.26            6
9  The Lightning Thief (Percy Jackson and the Oly...        4.08            6

–ö–∞–∫ –º—ã –≤–∏–¥–∏–º, —Å–∞–º—ã–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –Ω–∞ –æ—Ç–∑—ã–≤—ã –°—É–º–µ—Ä–∫–∏ - –∫–Ω–∏–≥–∞ —Å –Ω–µ —Å–∞–º—ã–º –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üìù <b>–ó–∞–ø—Ä–æ—Å 2:</b> –ò–≤–∞–Ω, —ç—Ç–æ—Ç –∑–∞–ø—Ä–æ—Å –Ω—É–∂–Ω–æ –Ω–µ–º–Ω–æ–≥–æ —Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å. –ú—ã –ø–æ–ª—É—á–∞–µ–º —Å–ª–∏—à–∫–æ–º –∑–∞–≤—ã—à–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è —Å—Ç–æ–ª–±—Ü–∞ `cnt_reviews`. –≠—Ç–æ –ª–µ–≥–∫–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å: –≤ —Ç–∞–±–ª–∏—Ü–µ –≤—ã—à–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ `cnt_reviews` = `26167`, –∞ –≤ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `review` –≤—Å–µ–≥–æ —Ä–µ–≤—å—é `2793`.
    
–ò—Å–ø—Ä–∞–≤—å, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –∑–∞–ø—Ä–æ—Å —Ç–∞–∫, —á—Ç–æ–±—ã –æ–Ω –Ω–µ –¥—É–±–ª–∏—Ä–æ–≤–∞–ª –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤. 
    
–¢–∞–∫–∂–µ, –æ–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —Å–µ–π—á–∞—Å –∑–∞–ø—Ä–æ—Å –≤—ã–≤–æ–¥–∏—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ `999` –∫–Ω–∏–≥–∞—Ö, –Ω–æ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –∏—Ö –Ω–µ–º–Ω–æ–≥–æ –±–æ–ª—å—à–µ. –ê –≤ –∑–∞–ø—Ä–æ—Å–µ –Ω–∞—Å –ø—Ä–æ—Å—è—Ç –≤—ã–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ –µ—Å—Ç—å –≤ –±–∞–∑–µ. –í–æ–∑–º–æ–∂–Ω–æ, –Ω–∞–º –Ω—É–∂–Ω–æ —É—á–∏—Ç—ã–≤–∞—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –Ω–æ–º–µ—Ä –∫–Ω–∏–≥–∏.      
</div>

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v.1</b>
    
–û—à–∏–±–æ—á–∫–∞ –≤—ã—à–ª–∞. –ò—Å–ø—Ä–∞–≤–∏–ª

</div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç –ó–∞–ø—Ä–æ—Å 2: –°–ø–∞—Å–∏–±–æ, —Ç–µ–ø–µ—Ä—å —É –Ω–∞—Å –Ω–µ—Ç –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–∏—è –∑–∞–ø–∏—Å–µ–π. –ù–æ, 999 –∫–Ω–∏–≥ –æ—Å—Ç–∞–ª–æ—Å—å –ø–æ—Ç–æ–º—É, —á—Ç–æ –≤ –∑–∞–ø—Ä–æ—Å–µ –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º title  –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –¥–∞–Ω–Ω—ã—Ö. –õ—É—á—à–µ –±—Ä–∞—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ id –∫–Ω–∏–≥, –ø–æ—Å–∫–æ–ª—å–∫—É –¥–∞–∂–µ –æ–¥–Ω–æ –∏ —Ç–æ–∂–µ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –º–æ–≥–ª–æ –∏–∑–¥–∞–≤–∞—Ç—å—Å—è —Ä–∞–∑–Ω—ã–º–∏ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞–º–∏ –∏–ª–∏ –±—ã—Ç—å —Å —Ä–∞–∑–Ω—ã–º –ø–µ—Ä–µ–≤–æ–¥–æ–º. –•–æ—Ä–æ—à–∏–π –ø—Ä–∏–º–µ—Ä - —Å–µ—Ä–∏–∏ –∫–Ω–∏–≥ –ø—Ä–æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–∞, –≥–¥–µ –µ—Å—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ç–∏–ø–æ–≤ –ø–µ—Ä–µ–≤–æ–¥–∞ –∏ –æ–Ω–∏ –æ—Ü–µ–Ω–∏–≤–∞—é—Ç—Å—è –ø–æ —Ä–∞–∑–Ω–æ–º—É.
</div>

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v.2</b>
    
–í—Ä–æ–¥–µ, —Ç–µ–ø–µ—Ä—å —Ç–∞–∫, –∫–∞–∫ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 1:</b> –¢–µ–ø–µ—Ä—å –≤—Å–µ –≤–µ—Ä–Ω–æ!
</div>

In [11]:
# —è—á–µ–π–∫–∞ —Ä–µ–≤—å—é–µ—Ä–∞:
query2 = '''
SELECT
    title,
    ROUND(AVG(rating), 2) as avg_rating,
    COUNT(DISTINCT review_id) as cnt_reviews
FROM
    books
    LEFT JOIN ratings ON books.book_id = ratings.book_id
    LEFT JOIN reviews ON books.book_id = reviews.book_id
GROUP BY
    books.book_id, title
ORDER BY
    cnt_reviews DESC
'''
pd.io.sql.read_sql(query2, con = engine).head(10)

                                               title  avg_rating  cnt_reviews
0                            Twilight (Twilight  #1)        3.66            7
1                                Water for Elephants        3.98            6
2                                   The Glass Castle        4.21            6
3  Harry Potter and the Prisoner of Azkaban (Harr...        4.41            6
4  The Curious Incident of the Dog in the Night-Time        4.08            6
5             The Da Vinci Code (Robert Langdon  #2)        3.83            6
6                                      The Alchemist        3.79            6
7                The Hobbit  or There and Back Again        4.13            6
8                                     The Book Thief        4.26            6
9  The Lightning Thief (Percy Jackson and the Oly...        4.08            6

### –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü?

In [12]:
query3 = '''
SELECT
    publisher,
    COUNT(book_id) as cnt_books
FROM
    books
    LEFT JOIN publishers ON books.publisher_id = publishers.publisher_id
WHERE
    num_pages > 50
GROUP BY
    publisher
ORDER BY
    cnt_books DESC
'''
pd.io.sql.read_sql(query3, con = engine).head(10)

                  publisher  cnt_books
0             Penguin Books         42
1                   Vintage         31
2  Grand Central Publishing         25
3          Penguin Classics         24
4          Ballantine Books         19
5                    Bantam         19
6                   Berkley         17
7        St. Martin's Press         14
8             Berkley Books         14
9                     Delta         13

–ü–µ—Ä–µ–¥ –Ω–∞–º–∏ –¥–µ—Å—è—Ç–∫–∞ —Å–∞–º—ã—Ö –ø–µ—á–∞—Ç–∞—é—â–∏—Ö –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤. –ü–∏–Ω–≥–≤–∏–Ω—ã –≤–ø–µ—Ä–µ–¥–∏ –≤—Å–µ—Ö!

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 3:</b> –¢—É—Ç –≤—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ!
</div>

### –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥?

(–∫–Ω–∏–≥–∏ —Ç–æ–ª—å–∫–æ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏)

In [13]:
query4 = '''
SELECT
    authors.author AS author,
    ROUND(AVG(rating), 2) AS avg_rating
FROM
    (SELECT
        books.book_id,
        author_id
    FROM
        books
        LEFT JOIN ratings ON books.book_id = ratings.book_id
    GROUP BY
        books.book_id
    HAVING
        COUNT(rating) >= 50) AS books_with_50_plus_ratings
    LEFT JOIN authors ON books_with_50_plus_ratings.author_id = authors.author_id
    LEFT JOIN ratings ON books_with_50_plus_ratings.book_id = ratings.book_id
GROUP BY
    author
ORDER BY
    avg_rating DESC
'''
pd.io.sql.read_sql(query4, con = engine).head(10)

                                              author  avg_rating
0                         J.K. Rowling/Mary GrandPr√©        4.29
1                  Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng        4.26
2                                     J.R.R. Tolkien        4.25
3                                  Louisa May Alcott        4.19
4                                       Rick Riordan        4.08
5                                    William Golding        3.90
6                                      J.D. Salinger        3.83
7  William Shakespeare/Paul Werstine/Barbara A. M...        3.79
8           Paulo Coelho/Alan R. Clarke/√ñzdemir ƒ∞nce        3.79
9                                         Lois Lowry        3.75

–ü–µ—Ä–µ–¥ –Ω–∞–º–∏ —Å–∞–º—ã –∑–∞–º–µ—Ç–Ω—ã–µ –∞–≤—Ç–æ—Ä—ã –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –≤—Ä–µ–º–µ–Ω–∏. –ü–æ –æ—â—É—â–µ–Ω–∏—è–º —Ä–µ–∞–ª—å–Ω–∞—è –∫–∞—Ä—Ç–∏–Ω–∞ —Å—Ö–æ–∂–∞—è

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –í —ç—Ç–æ–º –∑–∞–ø—Ä–æ—Å–µ —Ç–æ–∂–µ –≤—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ. –û–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤ –Ω–∞—á–∞–ª–µ —Ç—ã –≤—ã–¥–µ–ª–∏–ª –∫–Ω–∏–≥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö 50 –∏–ª–∏ –±–æ–ª—å—à–µ –æ—Ü–µ–Ω–æ–∫ (—Ç—É—Ç –≤—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ), –∞ –∑–∞—Ç–µ–º –ø–æ–¥—Å—á–∏—Ç–∞–ª —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è —ç—Ç–∏—Ö –∫–Ω–∏–≥ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞. –¢.–µ. –º—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª–∏ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –æ —Ä–µ–π—Ç–∏–Ω–≥–µ –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥. –î–ª—è —Ä–µ—à–µ–Ω–∏—è —ç—Ç–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ –º—ã –º–æ–≥–ª–∏ –ø–æ–¥–æ–π—Ç–∏ –Ω–µ–º–Ω–æ–≥–æ –ø–æ-–¥—Ä—É–≥–æ–º—É - –≤ –Ω–∞—á–∞–ª–µ –ø–æ–¥—Å—á–∏—Ç–∞—Ç—å —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ –∏–º–µ—é—Ç 50 –∏ –±–æ–ª–µ–µ –∑–∞–ø—Ä–æ—Å–æ–≤, –∞ –ø–æ—Ç–æ–º —É–∂–µ –ø–æ–¥—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É –∫–Ω–∏–≥ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ. –ü–æ—ç—Ç–æ–º—É, —Å–æ–≤–µ—Ç—É—é —É—á–∏—Ç—ã–≤–∞—Ç—å –ø—Ä–∏ —Ä–µ—à–µ–Ω–∏–∏ –ø–æ–¥–æ–±–Ω—ã—Ö –∑–∞–¥–∞—á —Ç–∞–∫—É—é –≤–∞—Ä–∏–∞—Ç–∏–≤–Ω–æ—Å—Ç—å. –ü–æ—Å–ª–µ–¥–Ω–µ–µ –º–æ–∂–µ—Ç –±—ã—Ç—å –∞–∫—Ç—É–∞–ª—å–Ω–æ –ø—Ä–∏ –±–æ–ª—å—à–æ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ –¥–∞–Ω–Ω—ã—Ö.
</div>

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v.1</b>
    
–ù–µ —Å–æ–≤—Å–µ–º –ø–æ–Ω—è–ª —ç—Ç–æ—Ç –∫–æ–º–º–µ–Ω—Ç—Ä–∏–π. –ß—Ç–æ –∑–Ω–∞—á–∏—Ç "–≤—Å–µ –¥–∞–Ω–Ω—ã–µ –æ —Ä–µ–π—Ç–∏–Ω–≥–µ"? –ò –Ω–µ –ø–æ–Ω—è–ª, –ø–æ—á–µ–º—É –≤—Ç–æ—Ä–æ–π –≤–∞—Ä–∏–∞–Ω—Ç —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–µ–µ –∏ –∫–∞–∫ –µ–≥–æ —Ä–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –°–ø–∞—Å–∏–±–æ –∑–∞ –≤–æ–ø—Ä–æ—Å –∏ –∏–∑–≤–∏–Ω–∏, –µ—Å–ª–∏ –Ω–µ–º–Ω–æ–≥–æ –∑–∞–ø—É—Ç–∞–ª. –°–µ–π—á–∞—Å, –≤–Ω—É—Ç—Ä–µ–Ω–Ω–∏–º –∑–∞–ø—Ä–æ—Å–æ–º –º—ã –æ–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –∫–Ω–∏–≥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫. –¢—É—Ç –≤—Å–µ –≤–µ—Ä–Ω–æ, –¥–∞–ª–µ–µ –∫ –Ω–∏–º –º—ã –ø–æ–¥–∫–ª—é—á–∏–ª–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ –∞–≤—Ç–æ—Ä—É –∏ —Ä–µ–π—Ç–∏–Ω–≥—É –∏ –≤ –∏—Ç–æ–≥–µ –ø–æ–ª—É—á–∏–ª–∏ –º–∞—Å—Å–∏–≤ –¥–∞–Ω–Ω—ã—Ö, –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥ —É –Ω–∞—Å –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —Ä–µ–π—Ç–∏–Ω–≥—É, –∞ —Ç–∞–∫–∂–µ –ø–æ –∞–≤—Ç–æ—Ä—É.
</div>

In [14]:
# —è—á–µ–π–∫–∞ —Ä–µ–≤—å—é–µ—Ä–∞:
query4 = '''
SELECT *
FROM
  (SELECT books.book_id,
          author_id
   FROM books
   LEFT JOIN ratings ON books.book_id = ratings.book_id
   GROUP BY books.book_id
   HAVING COUNT(rating) >= 50) AS books_with_50_plus_ratings
LEFT JOIN authors ON books_with_50_plus_ratings.author_id = authors.author_id
LEFT JOIN ratings ON books_with_50_plus_ratings.book_id = ratings.book_id
'''
pd.io.sql.read_sql(query4, con = engine)

,book_id,author_id,author_id,author,rating_id,book_id,username,rating
0,75,106,106,Dan Brown,389,75,annawarner,5
1,75,106,106,Dan Brown,390,75,thomas49,4
2,75,106,106,Dan Brown,391,75,julie81,4
3,75,106,106,Dan Brown,392,75,robert00,4
4,75,106,106,Dan Brown,393,75,jarvispaul,4
...,...,...,...,...,...,...,...,...
1408,948,554,554,Stephenie Meyer,6191,948,perrypatricia,3
1409,948,554,554,Stephenie Meyer,6192,948,carriehale,3
1410,948,554,554,Stephenie Meyer,6193,948,yvasquez,5
1411,948,554,554,Stephenie Meyer,6194,948,danielpatrick,4
1412,948,554,554,Stephenie Meyer,6195,948,carlsonbrad,5

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –î–∞–ª–µ–µ –º—ã —Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ `rating` –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞. –î–∞–≤–∞–π –Ω–µ–º–Ω–æ–≥–æ —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º –≤–æ–∑–º–æ–∂–Ω—ã–µ –≤–∞—Ä–∏–∞–Ω—Ç—ã. –ú–æ–∂–µ—Ç –±—ã—Ç—å —Ç–∞–∫, —á—Ç–æ —É –∞–≤—Ç–æ—Ä–∞ –¥–≤–µ –∫–Ω–∏–≥–∏, –æ–¥–Ω–∞ –∏–º–µ–µ—Ç 10 –∑–Ω–∞—á–µ–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥–∞ - –≤—Å–µ –ø—è—Ç–µ—Ä–∫–∏ (–æ—Ç–ª–∏—á–Ω–∞—è –∫–Ω–∏–≥–∞), –∞ –≤—Ç–æ—Ä–∞—è –∏–º–µ–µ—Ç –≤—Å–µ–≥–æ 2 —Ä–µ–π—Ç–∏–Ω–≥–∞ - –≤—Å–µ –¥–≤–æ–π–∫–∏ (–Ω–µ—É–¥–∞—á–Ω–∞—è –∫–Ω–∏–≥–∞, –Ω–æ –∏ –æ—Ü–µ–Ω–æ–∫ –º–µ–Ω—å—à–µ). –í –∏—Ç–æ–≥–µ —É –Ω–∞—Å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ (–∫–∞–∫ –º—ã —ç—Ç–æ –æ–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –≤—ã—à–µ –≤ –∑–∞–ø—Ä–æ—Å–µ) –±—É–¥–µ—Ç (10*5 + 2*2) / 12 = 4.5. –ù–æ, –º—ã –º–æ–∂–µ–º –ø–æ–¥—Å—á–∏—Ç–∞—Ç—å –≤–Ω–∞—á–∞–ª–µ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏, –∞ –∑–∞—Ç–µ–º –≤–∑—è—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ. –í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ —ç—Ç–æ –±—É–¥–µ—Ç –∫–∞–∫ (10*5/10 + 2*2/2) / 2 = –∏ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –±—É–¥–µ—Ç 3.5, —á—Ç–æ –Ω–∞ –±–∞–ª–ª –Ω–∏–∂–µ, —á–µ–º –ø—Ä–∏ –ø–µ—Ä–≤–æ–º —Ä–∞—Å—á–µ—Ç–µ. –î–∞–≤–∞–π –≤–µ—Ä–Ω–µ–º—Å—è –∫ –Ω–∞—à–∏–º –∫–Ω–∏–≥–∞–º, –∫–∞–∫ –º—ã –º–æ–∂–µ–º —ç—Ç–æ —Ä–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å:
</div>

In [15]:
# —è—á–µ–π–∫–∞ —Ä–µ–≤—å—é–µ—Ä–∞: –¥–æ–±–∞–≤–∏–≤ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –∏—Ç–µ—Ä–∞—Ü–∏—é –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∫–Ω–∏–≥–µ:

query4 = '''

--- —è –≤–∑—è–ª —Ç–≤–æ–π –∑–∞–ø—Ä–æ—Å –∏ —Å–¥–µ–ª–∞–ª –µ–≥–æ –≤—Ä–µ–º–µ–Ω–Ω—ã–º –∑–∞–ø—Ä–æ—Å–æ–º –∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–ª –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–Ω–∏–≥–µ, 
--- —á—Ç–æ–±—ã –ø–æ–¥—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏:
WITH book_rating AS
  (SELECT books_with_50_plus_ratings.book_id,
          authors.author AS author,
          AVG(rating) AS avg_rating
   FROM
     (SELECT books.book_id,
             author_id
      FROM books
      LEFT JOIN ratings ON books.book_id = ratings.book_id
      GROUP BY books.book_id
      HAVING COUNT(rating) >= 50) AS books_with_50_plus_ratings
   LEFT JOIN authors ON books_with_50_plus_ratings.author_id = authors.author_id
   LEFT JOIN ratings ON books_with_50_plus_ratings.book_id = ratings.book_id
   GROUP BY books_with_50_plus_ratings.book_id,
            authors.author) 
            
--- —Ç–µ–ø–µ—Ä—å –æ–±—Ä–∞—Ç–∏–º—Å—è –∫ –¥–∞–Ω–Ω—ã–º –∏–∑ –≤—Ä–µ–º–µ–Ω–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ –∏ –ø–æ–¥—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∫–Ω–∏–≥ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞:
SELECT author AS author,
       AVG(avg_rating) AS avg_rating
FROM book_rating
GROUP BY author

'''
pd.io.sql.read_sql(query4, con = engine)

                                               author  avg_rating
0                          J.K. Rowling/Mary GrandPr√©    4.283844
1                                           Dan Brown    3.754540
2                                       J.D. Salinger    3.825581
3                                     William Golding    3.901408
4                                   Louisa May Alcott    4.192308
5            Paulo Coelho/Alan R. Clarke/√ñzdemir ƒ∞nce    3.789474
6                                     Stephenie Meyer    3.662500
7   William Shakespeare/Paul Werstine/Barbara A. M...    3.787879
8                                        Rick Riordan    4.080645
9             George Orwell/Boris Grabnar/Peter ≈†kerl    3.729730
10                                     John Steinbeck    3.622951
11                                     J.R.R. Tolkien    4.258446
12                                         Lois Lowry    3.750000
13                  Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng    4.264151

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –ö–∞–∫ –≤–∏–¥–∏—à—å, –º—ã –ø–æ–ª—É—á–∏–ª–∏ –Ω–µ–º–Ω–æ–≥–æ –¥—Ä—É–≥–∏–µ –¥–∞–Ω–Ω—ã–µ. –ù–∏–∂–µ –º—ã –º–æ–∂–µ–º —ç—Ç–æ —Å—Ä–∞–≤–Ω–∏—Ç—å:
</div>

In [16]:
# —è—á–µ–π–∫–∞ —Ä–µ–≤—å—é–µ—Ä–∞: –¥–æ–±–∞–≤–∏–≤ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –∏—Ç–µ—Ä–∞—Ü–∏–∏ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∫–Ω–∏–≥–µ:

query4 = '''

--- —è –≤–∑—è–ª —Ç–≤–æ–π –∑–∞–ø—Ä–æ—Å –∏ —Å–¥–µ–ª–∞–ª –µ–≥–æ –≤—Ä–µ–º–µ–Ω–Ω—ã–º –∑–∞–ø—Ä–æ—Å–æ–º –∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–ª –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–Ω–∏–≥–µ, 
--- —á—Ç–æ–±—ã –ø–æ–¥—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏:
WITH book_rating AS
  (SELECT books_with_50_plus_ratings.book_id,
          authors.author AS author,
          AVG(rating) AS avg_rating
   FROM
     (SELECT books.book_id,
             author_id
      FROM books
      LEFT JOIN ratings ON books.book_id = ratings.book_id
      GROUP BY books.book_id
      HAVING COUNT(rating) >= 50) AS books_with_50_plus_ratings
   LEFT JOIN authors ON books_with_50_plus_ratings.author_id = authors.author_id
   LEFT JOIN ratings ON books_with_50_plus_ratings.book_id = ratings.book_id
   GROUP BY books_with_50_plus_ratings.book_id,
            authors.author),
     first_rating AS
  (SELECT authors.author AS author,
          AVG(rating) AS avg_rating
   FROM
     (SELECT books.book_id,
             author_id
      FROM books
      LEFT JOIN ratings ON books.book_id = ratings.book_id
      GROUP BY books.book_id
      HAVING COUNT(rating) >= 50) AS books_with_50_plus_ratings
   LEFT JOIN authors ON books_with_50_plus_ratings.author_id = authors.author_id
   LEFT JOIN ratings ON books_with_50_plus_ratings.book_id = ratings.book_id
   GROUP BY author) 
   
--- —Ç–µ–ø–µ—Ä—å –æ–±—Ä–∞—Ç–∏–º—Å—è –∫ –¥–∞–Ω–Ω—ã–º –∏–∑ –≤—Ä–µ–º–µ–Ω–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ –∏ –ø–æ–¥—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∫–Ω–∏–≥ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞:
SELECT book_rating.author AS author,
       AVG(book_rating.avg_rating) AS avg_rating,
       COUNT(DISTINCT book_rating.book_id) AS book_count,
       AVG(first_rating.avg_rating) AS avg_rating_first
FROM book_rating
LEFT JOIN first_rating ON first_rating.author = book_rating.author
GROUP BY book_rating.author
ORDER BY avg_rating DESC

'''
pd.io.sql.read_sql(query4, con = engine)

,author,avg_rating,book_count,avg_rating_first
0,J.K. Rowling/Mary GrandPr√©,4.283844,4,4.287097
1,Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng,4.264151,1,4.264151
2,J.R.R. Tolkien,4.258446,2,4.246914
3,Louisa May Alcott,4.192308,1,4.192308
4,Rick Riordan,4.080645,1,4.080645
5,William Golding,3.901408,1,3.901408
6,J.D. Salinger,3.825581,1,3.825581
7,Paulo Coelho/Alan R. Clarke/√ñzdemir ƒ∞nce,3.789474,1,3.789474
8,William Shakespeare/Paul Werstine/Barbara A. M...,3.787879,1,3.787879
9,Dan Brown,3.754540,2,3.741259
10,Lois Lowry,3.750000,1,3.750000
11,George Orwell/Boris Grabnar/Peter ≈†kerl,3.729730,1,3.729730
12,Stephenie Meyer,3.662500,1,3.662500
13,John Steinbeck,3.622951,1,3.622951

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –ü–æ–ª—É—á–∞–µ—Ç—Å—è, —Ç–∞–º, –≥–¥–µ —É –Ω–∞—Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –±—É–¥–µ—Ç –±–æ–ª—å—à–µ –æ–¥–Ω–æ–π, —Ç–æ —Å—Ä–µ–¥–Ω–∏–µ —Ä–µ–π—Ç–∏–Ω–≥–∏ —Ä–∞–∑–ª–∏—á–∞—é—Ç—Å—è. –ï—Å–ª–∏ —É –Ω–∞—Å –±—ã–ª–æ –±—ã –±–æ–ª—å—à–µ –¥–∞–Ω–Ω—ã—Ö - —Ä–∞–∑–ª–∏—á–∏—è –º–æ–≥–ª–∏ –±—ã –±—ã—Ç—å –±–æ–ª–µ–µ —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ. –Ø –Ω–µ –≥–æ–≤–æ—Ä—é, —á—Ç–æ —ç—Ç–æ—Ç —Å–ø–æ—Å–æ–± –±–æ–ª–µ–µ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω—ã–π, –Ω–æ –±—É–¥–µ—Ç –Ω–µ –ª–∏—à–Ω–∏–º –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, –∫–∞–∫–∏–µ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–µ –ø–æ–¥—Ö–æ–¥—ã –º–æ–≥—É—Ç –±—ã—Ç—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω—ã –ø—Ä–∏ —Ä–µ—à–µ–Ω–∏–∏ —ç—Ç–æ–π –∑–∞–¥–∞—á–∏.
</div>

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v.2</b>
    
–¢–∞–∫ –ø–æ–Ω—è—Ç–Ω–µ–µ, —Å–ø–∞—Å–∏–±–æ! –ë—É–¥—É –∏–º–µ—Ç—å –≤ –≤–∏–¥—É)
    
P.s. —Å –æ–ø–µ—Ä–∞—Ç–æ—Ä–æ–º WITH ... AS ... –ø—Ä–æ—Å—Ç–æ –µ—â—ë –Ω–µ —Ä–∞–±–æ—Ç–∞–ª (–∏ –≤ –∫—É—Ä—Å–µ –µ–≥–æ –Ω–µ –±—ã–ª–æüëÄ)

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ —Ç–µ–ø–µ—Ä—å —Å—Ç–∞–ª–æ —è—Å–Ω–µ–µ. –ü–æ –ø–æ–≤–æ–¥—É WITH ... AS - —Ç—É—Ç –ª–æ–≥–∏–∫–∞ —Ç–∞–∫–∞—è - –º—ã –¥–µ–ª–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É, –∫ –∫–æ—Ç–æ—Ä–æ–π –ø–æ—Ç–æ–º –æ–±—Ä–∞—â–∞–µ–º—Å—è. –ú–æ–∂–Ω–æ –≤–∑—è—Ç—å –∑–∞ –∞–Ω–∞–ª–æ–≥ —Å–æ–∑–¥–∞–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ —Å—Ä–µ–∑–∞ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ pandas. –í—Å–µ —Ç–æ–∂–µ —Å–∞–º–æ–µ, –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã —Ä–µ—à–∏—Ç—å, –∏—Å–ø–æ–ª—å–∑—É—è –≤–ª–æ–∂–µ–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã. –¢—É—Ç, –Ω–∞–≤–µ—Ä–Ω–æ, –∫–æ–º—É –∫–∞–∫ —É–¥–æ–±–Ω–µ–µ. 
</div>

### –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫?

In [17]:
query5 = '''
SELECT
    ROUND(AVG(cnts_reviews.cnt_reviews), 2) AS avg_cnt_reviews
FROM
    (SELECT
        COUNT(review_id) AS cnt_reviews
    FROM (
        SELECT
            username
        FROM
            ratings
        GROUP BY
            username
        HAVING
            COUNT(rating_id) > 50
            ) AS users_with_50_plus_ratings
        LEFT JOIN reviews ON users_with_50_plus_ratings.username = reviews.username
    GROUP BY
        reviews.username) AS cnts_reviews
'''
pd.io.sql.read_sql(query5, con = engine)

   avg_cnt_reviews
0            24.33

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤ –¥–∞–∂–µ —É —Å–∞–º—ã—Ö –∞–∫—Ç–∏–≤–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ—á—Ç–∏ –≤ 2 —Ä–∞–∑–∞ –º–µ–Ω—å—à–µ, —á–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫. –ù–µ –ø–æ—Ä–∞ –ª–∏ –ø—Ä–æ—Å—Ç–∏–º—É–ª–∏—Ä–æ–≤–∞—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–∏—Å–∞—Ç—å –±–æ–ª—å—à–µ –æ—Ç–∑—ã–≤–æ–≤?

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 5:</b> –ó–¥–µ—Å—å —Ç–æ–∂–µ –≤—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ! –û–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –º—ã –º–æ–∂–µ–º –æ–∫—Ä—É–≥–ª–∏—Ç—å –¥–æ 2-3 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π, –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞.
</div>

<div class="alert alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v.1</b>
    
–û–∫—Ä—É–≥–ª–∏–ª

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 5:</b> –°–ø–∞—Å–∏–±–æ!
</div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.1</b> 
    
üìù –ù–µ—Å–º–æ—Ç—Ä—è –Ω–∞ —Ç–æ, —á—Ç–æ —ç—Ç–æ –Ω–µ —Ç—Ä–µ–±—É–µ—Ç—Å—è –∑–∞–¥–∞–Ω–∏–µ–º - –ª—É—á—à–µ –≤ –∫–æ–Ω—Ü–µ –ø—Ä–æ–µ–∫—Ç–∞, –¥–∞–∂–µ —Ç–∞–∫–æ–≥–æ –Ω–µ–±–æ–ª—å—à–æ–≥–æ, –∫–∞–∫ —ç—Ç–æ—Ç, –æ—Å—Ç–∞–≤–∏—Ç—å —Ä–µ–∑—é–º–µ –ø–æ –ø–æ–≤–æ–¥—É –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã. –¢–∞–∫ –ø—Ä–æ–µ–∫—Ç / –æ—Ç—á–µ—Ç –≤—ã–≥–ª—è–¥–∏—Ç –±–æ–ª–µ–µ –∑–∞–≤–µ—Ä—à–µ–Ω–Ω—ã–º, –¥–∞ –∏ –∫–æ–ª–ª–µ–∂–µ–Ω–∫–∏ —á–∞—Å—Ç–æ —Å–ø—Ä–∞—à–∏–≤–∞—é—Ç, –∫–æ–≥–¥–∞ –∏–º –ø–µ—Ä–µ—Å—ã–ª–∞–µ—à—å –æ—Ç—á–µ—Ç - "—Ä–∞—Å—Å–∫–∞–∂–∏ –≤ –¥–≤—É—Ö —Å–ª–æ–≤–∞—Ö, —á–µ–≥–æ —Ç–∞–º".
    
</div>

**–í—ã–≤–æ–¥:**
- –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 20 –ª–µ—Ç –∫–∞–∂–¥—ã–π –≥–æ–¥ –ø–æ—è–≤–ª—è–ª–æ—Å—å, –≤ —Å—Ä–µ–¥–Ω–µ–º, –ø–æ 40 –∫–Ω–∏–≥;
- c–∞–º—ã–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –ø–æ —á–∏—Å–ª—É –æ—Ç–∑—ã–≤–æ–≤ –∫–Ω–∏–≥–∏: –ú–µ–º—É–∞—Ä—ã –≥–µ–π—à–∏(8 –æ—Ç–∑—ã–≤–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ 4.14) –∏ –°—É–º–µ—Ä–∫–∏(7 –∏ 3.66);
- —Å–∞–º—ã–µ –≤—ã–ø—É—Å–∫–∞—é—â–µ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ - Penguin (Penguin Books + Penguin Classics) - –≤—ã–ø—É—Å—Ç–∏–ª–∏ 66 –∫–Ω–∏–≥;
- –ª—É—á—à–∏–µ –ø–∏—Å–∞—Ç–µ–ª–∏ –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É –∫–Ω–∏–≥ - –î–∂–æ–∞–Ω –†–æ–∞–ª–∏–Ω–≥, –ú–∞—Ä–∫—É—Å –ó—É—Å–∞–∫ –∏ –î–∂–æ–Ω –¢–æ–ª–∫–∏–Ω;
- —Å—Ä–µ–¥–∏ —Å–∞–º—ã—Ö –∞–∫—Ç–∏–≤–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (—Ç–µ—Ö, –∫—Ç–æ –ø–æ—Å—Ç–∞–≤–∏–ª –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫) —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã—Ö –æ—Ç–∑—ã–≤–æ–≤ —Ä–∞–≤–Ω–æ 24.33 - —Ç–æ –µ—Å—Ç—å –º–µ–Ω–µ–µ, —á–µ–º –Ω–∞ –∫–∞–∂–¥—É—é –≤—Ç–æ—Ä—É—é –æ—Ü–µ–Ω–µ–Ω–Ω—É—é –∫–Ω–∏–≥—É

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 5:</b> –í—ã—à–ª–æ - –æ—Ç–ª–∏—á–Ω–æ, —Å–ø–∞—Å–∏–±–æ!
</div>